.profile__add-button-link {
    justify-self: right;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .profile__add-button-link {
        width: 100%;
        max-width: 282px;

    }
}