.popup__window {
    position: sticky;
    top: 195px;

    background-color: white;
    width: 430px;
    height: 330px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media (max-width: 700px) {
    .popup__window {
        width: 282px;
        height: 322px;

        position: sticky;
        top: 123px;
    }
}